{% extends "base_generic.html" %}


{% block content %}
    <h1>Мои заявки</h1>

    {% if bid_list %}



<table class="table">
   <tr><th>Номер заявки</th><th>Тип</th><th>Содержание</th><th>Заявитель</th><th>Исполнитель</th><th>Дата создания</th></tr>
    {% for bid in bid_list %}
   <tr>
       <td><a href="{% url 'bid-detail' bid.pk %}">{{ bid.id }}</a></td>

       <td>{{ bid.type_bid }}</td>
       <td>{{ bid.text }}</td>
       <td>{{ bid.bider }}</td>
       <td>{{ bid.maker }}</td>

       <td>{{ bid.time_creation }}</td>
   </tr>
    {% endfor %}
</table>

    {% else %}
      <p>There are no bids for you.</p>
    {% endif %}
{% endblock %}
